.iconSpace{
	vertical-align:middle;
	padding-right:5px;	
}
.autocomplete {
	position: absolute;
	color: #333;
	background-color: #fff;
	border: 1px solid #666;
	font-family: Arial;
/**	overflow-y: auto;
**/	height: 100px;
}
.autocomplete ul {
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
.autocomplete li {
	display: block;
	white-space: nowrap;
	cursor: pointer;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #fff;
}
.autocomplete li.selected {
	background-color: #cef;
	border-top: 1px solid #9bc;
	border-bottom: 1px solid #9bc;
}
.tabContent {
	background: #fff;
	border: 1px solid #ccc;
	border-top: 2px solid #ccc;
    border-right: none;
	clear: both;
	margin: 0px;
	padding: 15px;
}
.tabPanel {
/**	border-bottom: 1px solid #ccc;
**/	margin: 0;
	padding-bottom: 19px;
	padding-left: 10px;
}
.tabNavigation ul,.tabNavigation li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.tabNavigation a:link,.tabNavigation a:visited {
	background: #E8EBF0;
	border: 1px solid #ccc;
	color: #666;
	float: left;
	font-size: small;
	font-weight: normal;
	line-height: 14px;
	margin-right: 8px;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
}
.tabNavigation li a.ajaxCurrentTab {
	background: #fff !important;
	border-bottom: 1px solid #fff;
	color: #000 !important;
}
.tabNavigation a:hover {
	color: #f00;
}
/* --- PORTLET CSS --- */
.portletBox {
	width: 100%;
	border: 0px solid #ccc;	
}
.portletTitle {
	background-color: #e8ebf0;
	font-weight:bold;
	color:#000000;
	padding: 4px 10px 5px 10px;
	font: bold 10pt Arial;
	vertical-align:middle;
	/*background-image: url(../../../images/menuBg.gif);*/
	/*background-color:#0077b5; */
	background:url(../../../images/portalTl.gif) no-repeat top left;
}
.portletTools {
	background:url(../../../images/dash_tr.gif) no-repeat top right;
	float: right;
	padding: 9px 8px;
	color: #666;
	font: bold 8pt Arial;
	cursor: pointer;
}
.portletTools img {
	border-left: 1px solid #666;
	padding: 0px 3px;
	cursor: pointer;
}
.portletTools img:first-child {
	border: none;
}
.portletContent {
	min-height: 200px;
	overflow: auto;
	padding: 4px;
	border: 1px solid #eaeaea;
}
/* --- TOGGLE CSS --- */
div.power-rating a {
	cursor: pointer;
	margin: 0px;
	float: left;
	display: block;
	width: 18px;
	height: 16px;
	padding: 0 1px;
	background-image: url(../img/throbber.gif);
	background-repeat: no-repeat;
	background-position: 1px 0;
}
div.power-rating a.over {
	background-position: 1px 0;
}
div.power-rating a.selected {
	background-position: 1px -20px;
}
div.power-rating a.selectedover {
	background-position: 1px -20px;
}
div.power-rating a.selectedless {
	background-position: 1px -20px;
}
div.power-rating ,div.star-rating {
    display: block;
}
div.star-rating a {
	cursor: pointer;
	margin: 0px;
	float: left;
	display: block;
	width: 18px;
	height: 16px;
	padding: 0 1px;
	background-image: url(../img/stars.gif);
	background-repeat: no-repeat;
	background-position: 1px 0;
}
div.star-rating a.over {
	background-position: 1px -32px;
}
div.star-rating a.selected {
	background-position: 1px -64px;
}
div.star-rating a.selectedover {
	background-position: 1px -48px;
}
div.star-rating a.selectedless {
	background-position: 1px -16px;
}
div.star-rating-message {
	display: block;
	height: 12px;
	font: 10px Verdana;
}
/* --- CALLOUT CSS --- */
.olbg {
	background-color: #999;
}
.olcg {
	background-color: #000;
}
.olfg {
	background-color: #ddd;
}
.olcap {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}
a.olclo {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	color: #ddd;
}
a.olclo:hover {
	color: #fff;
}
.oltxt {
	font-family: Arial;
	font-size: 12px;
	color: #000;
}
/* --- Tree CSS --- */
.tree li {
	padding-left: 15px;
}
.tree {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	list-style: none;
	list-style-type: none;
	font-size: 12px;
	line-height: 20px;
	padding-left: 0;
	margin-left: 0;
}
.tree li span {
	display: block;
	margin-top: 10px;
	float: left;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
.tree li a {
	left: 5px;
}
.expandedNode {
	background: url(../img/arrow_down.gif) no-repeat;
}
.collapsedNode {
	background: url(../img/arrow.gif) no-repeat;
}
.indicator {
	padding-left: 16px;
	background: url(../img/indicator.gif) no-repeat left;
	width: 16px;
	height: 16px;
}
a.external {
	padding-left: 16px;
	background: url(../img/external.gif) no-repeat left;
	width: 11px;
	height: 9px;
}
