/* alternative styles */
.report,.its,.mars,.simple,.mark,.isis {
	width: 100%;
	clear: both;
}

.report td,.its td,.mars td,.simple td,.mark td,.isis td,.report th,.its th,.mars th,.simple th,.mark th,.isis th
	{
	padding: 5px 3px;
}

.its th.sortable,.its th.order2,.its th.order1 {
	padding-right: 10px;
}

table.its thead tr { /*background-color: #69c;*/
	background: url(../img/headBg.gif) repeat-x bottom #ECF8FF;
}

table.its tr.even {
	background-color: #F2FAFE;
}

table.mars thead tr {
	background-color: #9c9;
}

table.mars tr.even {
	background-color: #ccb;
}

table.mars tr.odd {
	background-color: #eec;
}

table.simple thead tr th {
	background-color: #eee;
}

table.simple tr.even {
	background-color: #fff;
}

table.simple,table.its,table.mars,table.mark,table.isis,table.report {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.simple td,table.simple th,table.its td,table.its th,table.mars td,table.mars th,table.report td,table.report th,table.mark td,table.mark th,table.isis td,table.isis th
	{
	border: 1px solid #C1D1D9;
}

table.nocol tbody td,table.nocol tbody th {
	border-left: none;
	border-right: none;
}

table.report td,table.report th {
	font: menu;
}

table.report th {
	background: buttonface;
	border-width: 1px;
	border-style: solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	cursor: hand;
}

table.report idcol {
	background: buttonface;
}

table.report tr.even {
	background-color: #399;
}

table.report tbody {
	overflow: auto;
}

table.report {
	overflow: auto;
}

table.report tbody tr {
	
}

table.mark td.tableCellError {
	background-color: #d00;
	color: #fff;
}

table.simple td.textRed {
	color: #b11;
}