/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 12px Verdana;
list-style-type: none;
overflow: hidden;
width: 100%;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
background:url(../images/navRight_off.gif) no-repeat right top;
margin-right:5px;
}
.mattblackmenu li a span{
	display:block;
	background:url(../images/navLeft.gif) no-repeat left top;
	padding: 4px 16px 4px 8px; /*padding inside each tab*/
	color: #000;
}

.mattblackmenu li a:hover, .mattblackmenu a.selected, .mattblackmenu li a.menuAct{
float: left;
display: block;
text-decoration: none;
margin: 0;
background:url(../images/navRight_on.gif) no-repeat right top;
margin-right:5px;
}
.mattblackmenu li a:hover span, .mattblackmenu a.selected span, .mattblackmenu li a.menuAct span{
	display:block;
	background:url(../images/navLeft_on.gif) no-repeat left top;
	padding: 4px 16px 4px 8px; /*padding inside each tab*/
	color: #000;
}


/*.mattblackmenu li a:visited{
color: white;
}

.mattblackmenu li a:hover{
background: black; /*background of tabs for hover state 
}*/
/*
*/