.colCenter {
	text-align: center;
}

.displaytable {
	width: 100%;
}

th,td { /*padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;*/
	
}

thead tr {
	background-color: #fc0;
}

thead tr th {
	padding-right: 8px;
}

th.sorted {
	background-color: none;
	padding-right: 8px;
	font-weight: bold;
}

th a,th a:visited {
	color: black;
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background: url(../img/arrow_off.png) no-repeat right center;
	padding-right: 5px;
}

th.order1 a {
	background: url(../img/arrow_down.png) no-repeat right center;
	padding-right: 5px;
}

th.order2 a {
	background: url(../img/arrow_up.png) no-repeat right center;
	padding-right: 5px;
}

tr.odd {
	background-color: #fff
}

tr.tableRowEven,tr.even {
	background-color: #fea
}

div.exportlinks {
	border: 0px dotted #999;
	padding: 2px 0px 2px 0px;
	margin: 0px 0 10px 0;
	width: 100%;
	margin-top: 5px;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background: url(../img/ico_file_excel.png) no-repeat 0px 0px;
}

span.csv {
	background: url(../img/ico_file_csv.png) no-repeat 0px 0px;
}

span.xml {
	background: url(../img/ico_file_xml.png) no-repeat 0px 0px;
}

span.pdf {
	background: url(../img/ico_file_pdf.png) no-repeat 0px 0px;
}

span.rtf {
	background: url(../img/ico_file_rtf.png) no-repeat 0px 0px;
}

span.pagebanner {
	border: 0px dotted #999;
	padding: 2px 0px 2px 0px;
	width: 45%;
	display: block;
	float: left;
	margin-bottom: 5px;
}

span.pagelinks {
	border: 0px dotted #999;
	padding: 2px 0px 2px 0px;
	width: 45%;
	display: block;
	text-align: right;
	float: right;
	margin-bottom: 5px;
}

.group-1 {
	font-weight: bold;
	padding-bottom: 10px;
	border-top: 1px solid black;
}

.group-2 {
	font-style: italic;
	border-top: 1px solid black;
}

.subtotal-sum,.grandtotal-sum {
	font-weight: bold;
	text-align: right;
}

.subtotal-header {
	padding-bottom: 0px;
	border-top: 1px solid white;
}

.subtotal-label,.grandtotal-label {
	border-top: 1px solid white;
	font-weight: bold;
}

.grouped-table tr.even {
	background-color: #fff;
}

.grouped-table tr.odd {
	background-color: #fff;
}

.grandtotal-row {
	border-top: 2px solid black;
}