/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/pro_drop_2.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

.preload1 {background: url(../images/three_1.gif);}
.preload2 {background: url(../images/three_1a.gif);}

#nav {padding:0; margin:0; list-style:none; height:22px; position:relative; z-index:500; font-family:arial, verdana, sans-serif; font-weight:bold;}
#nav li.top {display:block; float:left; height:22px;}
#nav li a.top_link {display:block; float:left; height:22px; line-height:22px; color:#000; text-decoration:none; font-size:11px; margin:0 0 0 5px;cursor:pointer; background:url(../images/navRight_off.gif) no-repeat right;}
#nav li a.top_link span {float:left; display:block; padding:0 15px 0 8px; height:22px; background:url(../images/navLeft_off.gif) no-repeat left;}
/*#nav li a.top_link span.down {float:left; display:block; padding:0 8px 0 8px; height:35px; background: url(../images/three_0a.gif) no-repeat right top;}*/

#nav li:hover a.top_link, #nav li a.top_linkact {display:block; float:left; height:22px; line-height:22px; color:#000; text-decoration:none; font-size:11px; margin:0 0 0 5px;cursor:pointer; background:url(../images/navRight_on.gif) no-repeat right;}
#nav li:hover a.top_link span, #nav li a.top_linkact span {float:left; display:block; padding:0 15px 0 8px; height:22px; background:url(../images/navLeft_on.gif) no-repeat left;}
/*#nav li:hover a.top_link span.down {background:url(../images/three_1a.gif) no-repeat right top;}*/

/* Default list styling */

#nav li:hover {position:relative; z-index:200; font-weight:bold;}



#nav li:hover ul.sub
{left:5px; top:22px; background: #d6dbbf; padding:0px; border:1px solid #FFF; border-top:0px; white-space:nowrap; width:120px; height:auto; z-index:300;}
#nav li:hover ul.sub li
{display:block; height:20px; position:relative; float:left; width:120px; font-weight:normal;}

#nav li:hover ul.sub li a
{display:block; font-size:11px; height:18px; width:120px; line-height:18px; text-indent:5px;color:#000; text-decoration:none;}

#nav li ul.sub li a.fly
{background:#d6dbbf url(../images/arrow.gif) 95% 6px no-repeat #F0F;}


#nav li:hover ul.sub li a:hover 
{background:#000; color:#FFF; font-weight:bold;  }

#nav li:hover ul.sub li a.fly:hover
{background:#000 url(../images/arrow_over.gif) 95% 6px no-repeat; font-weight:bold; color:#FFF; }




#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{left:120px; top:-0px; background: #d6dbbf; padding:3px; border:1px solid #d6dbbf; white-space:nowrap; width:120px; z-index:400; height:auto;}

#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;  }

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{background:#000 url(../images/arrow_over.gif) 95% 6px no-repeat; color:#FFF; font-weight:bold;  } 

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{background:#000 url(../images/arrow.gif) 95% 6px no-repeat; color:#FFF; } 

