@charset "utf-8";

/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
}

td,th {
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
}

p,h1,h2,h3,form {
	margin: 0px;
	padding: 0px;
}

img {
	border: 0px;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

.bodyMargins {
	padding: 8px;
}

.leftPane {
	padding-right: 6px;
}

.rightpane {
	background: url(../images/rightPanebg.gif) repeat-x bottom #e2e7ea;
	padding: 8px;
}

.paneColor {
	background: #FFFFFF;
}

.paneAdd {
	padding: 10px;
	border: 1px solid #eaeaea;
	border-top: 0px;
}

.rpaneColor {
	background: #f8f9f6;
}

.detailbox {
	background: #e2e6e9;
	font: 14px Arial, Helvetica, sans-serif;
}

.pTitle {
	font: 24px Arial, Helvetica, sans-serif;
	color: #cc0000;
	s
}

.cTitle {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #333300;
}

.cTitle img {
	padding-right: 5px;
}

.bTitle {
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.bTitle img {
	vertical-align: middle;
	padding-right: 5px;
}

a.dLink {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #666666;
	text-decoration: none;
}

a.dLink:hover {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #CC0000;
	text-decoration: none;
}

a.dLink img {
	padding-right: 5px;
	vertical-align: middle;
}

.tabBox {
	background: url(../images/dot.gif) repeat-x bottom;
	height: 28px;
}

.tabBox a b {
	float: left;
}

.tabBox a {
	font: bold 14px Arial, Helvetica, sans-serif;
}

.tabBox a b.left {
	background: url(../images/tabL_off.gif) no-repeat;
	width: 5px;
	height: 28px;
	margin-left: 5px;
}

.tabBox a b.right {
	background: url(../images/tabR_off.gif) no-repeat;
	width: 5px;
	height: 28px;
}

.tabBox a b.center {
	background: url(../images/tabBg_off.gif) repeat-x;
	padding: 6px 5px 5px 5px
}

.tabBox a:hover,.tabBox a.tabAct {
	display: block;
	background: #FFFFFF;
}

.tabBox a:hover b.left,.tabBox a.tabAct b.left {
	background: url(../images/tabL_on.gif) no-repeat;
	width: 5px;
	height: 28px;
	margin-left: 5px;
}

.tabBox a:hover b.right,.tabBox a.tabAct b.right {
	background: url(../images/tabR_on.gif) no-repeat;
	width: 5px;
	height: 28px;
}

.tabBox a:hover b.center,.tabBox a.tabAct b.center {
	background: url(../images/tabBg_on.gif) repeat-x;
	padding: 6px 5px 5px 5px
}

.tabBox img {
	vertical-align: middle;
	padding-right: 5px;
}

.subTabCon {
	border: 1px solid #cccccc;
	border-top: 0px;
	background: #f9feed;
	padding: 8px 10px;
}

.headerBg {
	background: url(../images/headerBg.gif) repeat-x top #066caa;
}

.navigation {
	background: url(../images/dot2.gif) repeat-x bottom;
	height: 22px;
}

a.nLnk {
	font: normal 12px Arial, Helvetica, sans-serif;
	cursor: pointer;
}

a.nLnk img {
	padding-right: 3px;
}

a.nLnk b,a.nLnk:hover b,a.nLnKact b,a.nLnKact:hover b {
	float: left;
}

a.nLnk b.left {
	background: url(../images/spacer.gif) no-repeat;
	width: 5px;
	height: 24px;
	margin-left: 8px;
}

a.nLnk b.center {
	display: block;
	background: url(../images/spacer.gif) repeat-x;
	padding: 4px 2px 4px 2px;
	font-weight: normal;
}

a.nLnk b.right {
	background: url(../images/spacer.gif) no-repeat;
	width: 5px;
	height: 24px;
}

a.nLnk:hover,a.nLnKact {
	display: block;
	font: normal 12px Arial, Helvetica, sans-serif;
	cursor: pointer;
}

a.nLnk:hover b.left,a.nLnKact b.left {
	background: url(../images/linkL.gif) no-repeat;
	width: 5px;
	height: 24px;
}

a.nLnk:hover b.center,a.nLnKact b.center {
	display: block;
	background: url(../images/linkBg.gif) repeat-x;
	padding: 4px 2px 4px 2px;
}

a.nLnk:hover b.right,a.nLnKact b.right {
	background: url(../images/linkR.gif) no-repeat;
	width: 5px;
	height: 24px;
}

.tabBox2 {
	background: url(../images/dot.gif) repeat-x bottom;
	height: 28px;
}

.tabBox2 a b {
	float: left;
}

.tabBox2 a {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #0077b5;
}

.tabBox2 a b.left {
	background: url(../images/tabL_off.gif) no-repeat;
	width: 5px;
	height: 28px;
	margin-left: 5px;
}

.tabBox2 a b.right {
	background: url(../images/tabR_off.gif) no-repeat;
	width: 5px;
	height: 28px;
}

.tabBox2 a b.center {
	background: url(../images/tabBg_off.gif) repeat-x;
	padding: 6px 5px 7px 5px
}

.tabBox2 a:hover,.tabBox2 a.tabAct {
	display: block;
	background: #FFFFFF;
}

.tabBox2 a:hover b.left,.tabBox2 a.tabAct b.left {
	background: url(../images/tabL_on.gif) no-repeat;
	width: 5px;
	height: 28px;
	margin-left: 5px;
}

.tabBox2 a:hover b.right,.tabBox2 a.tabAct b.right {
	background: url(../images/tabR_on.gif) no-repeat;
	width: 5px;
	height: 28px;
}

.tabBox2 a:hover b.center,.tabBox2 a.tabAct b.center {
	background: url(../images/tabBg_on.gif) repeat-x;
	padding: 6px 5px 7px 5px
}

.tabBox2 img {
	vertical-align: middle;
	padding-right: 5px;
}

.redText {
	color: #f10707;
}

.listTitle td {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #333;
	background: url(../images/titleBg.gif) repeat-x top #bbcad5;
}

.evenRow td {
	background: #f8f7f7;
}

.oddRow td {
	background: #FFF;
}

.imgPd {
	padding-right: 5px;
	padding-left: 5px;
}

.pageTitle {
	font: 18px Arial, Helvetica, sans-serif;
	color: #ff5400;
	padding-bottom: 10px;
}

.topStrip {
	background: url(../images/topBg.gif) repeat-x bottom #e7ebc8;
}

.leftColon {
	background: url(../images/colon.gif) no-repeat 99% 8px;
}

.dashClass {
	background: url(../images/dash_t.gif) repeat-x;
}

.dashTitle {
	font: bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #0077b5;
}

.dashFunction {
	text-align: right;
}

.dashFunction img {
	padding-left: 5px;
}

.dashCon {
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	padding: 5px;
}

.dashBc {
	background: #f9f9f9;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

.export {
	border-bottom: 1px dotted #CCCCCC;
	border-top: 1px dotted #CCCCCC;
	padding: 5px 0px;
}

.boxBg {
	border: 1px solid #eaeaea;
	padding: 8px;
}

.mandtry {
	color: red;
}

.footerbg {
	padding: 5px;
	background: url(../images/headerBg.gif) repeat-x top #066caa;
}

.buttonBg{
	position: relative;
	cursor: pointer;	
	padding: 3px 5px 3px 5px;	
	margin: 2px 2px 2px 2px;
	background:url("../images/buttonBg.gif") repeat-x bottom #B3B3B3;
	border:1px solid #B3B3B3; 
	color:#31312A;
	font-size:11px; 
	font-weight:bold;
	text-align: center;
	overflow: visible;
}

.buttonBg1{
	position: relative;
	cursor: pointer;	
	padding: 3px 5px 3px 5px;	
	margin: 2px 2px 2px 2px;
	background:url("../images/buttonBg1.gif") repeat-x bottom #B3B3B3;
	border:1px solid #B3B3B3; /*bg 1,bg 2  #B3B3B3 bg 3 #83BBD9 Bg 4 #065295 */
	color:#31312A;/* Bg 4 Font Color*/
	font-size:11px; 
	font-weight:bold;
	text-align: center;
	overflow: visible;
}

.buttonBg2{
	position: relative;
	cursor: pointer;	
	padding: 3px 5px 3px 5px;	
	margin: 2px 2px 2px 2px;
	background:url("../images/buttonBg2.gif") repeat-x bottom #83BBD9;
	border:1px solid #83BBD9; /*bg 1,bg 2  #B3B3B3 bg 3 #83BBD9 Bg 4 #065295 */
	color:#31312A;/* Bg 4 Font Color*/
	font-size:11px; 
	font-weight:bold;
	text-align: center;
	overflow: visible;
}

.buttonBg3{
	position: relative;
	cursor: pointer;	
	padding: 3px 5px 3px 5px;	
	margin: 2px 2px 2px 2px;
	background:url("../images/buttonBg3.gif") repeat-x bottom #065295;
	border:1px solid #065295; /*bg 1,bg 2  #B3B3B3 bg 3 #83BBD9 Bg 4 #065295 */
	color:#FFF;/* Bg 4 Font Color*/
	font-size:11px; 
	font-weight:bold;
	text-align: center;
	overflow: visible;
}


/* Alert Message CSS */
.success{
	background-color:#E4F3EA;
}
.success .tl{
	background: url(../images/success.gif) no-repeat left top;
	width:5px;
	height:5px;
}
.success .tr{
	background: url(../images/success.gif) no-repeat -5px 0px;
	width:5px;
	height:5px;
}
.success .bl{
	background: url(../images/success.gif) no-repeat 0px -5px;
	width:5px;
	height:5px;
}
.success .br{
	background: url(../images/success.gif) no-repeat -5px -5px;
	width:5px;
	height:5px;
}
.success .msCC{
	padding-left:20px;
	padding-right:15px;
	background:url(../images/success_icon.gif) no-repeat 3px 2px;
}


.error{
	background-color:#F2E2DC;
}
.error .tl{
	background: url(../images/error.gif) no-repeat left top;
	width:5px;
	height:5px;
}
.error .tr{
	background: url(../images/error.gif) no-repeat -5px 0px;
	width:5px;
	height:5px;
}
.error .bl{
	background: url(../images/error.gif) no-repeat 0px -5px;
	width:5px;
	height:5px;
}
.error .br{
	background: url(../images/error.gif) no-repeat -5px -5px;
	width:5px;
	height:5px;
}
.error .msCC{
	padding-left:20px;
	padding-right:15px;
	background:url(../images/error_icon.gif) no-repeat 3px 2px;
}


.warn{
	background-color:#F2FEDB;
}
.warn .tl{
	background: url(../images/warn.gif) no-repeat left top;
	width:5px;
	height:5px;
}
.warn .tr{
	background: url(../images/warn.gif) no-repeat -5px 0px;
	width:5px;
	height:5px;
}
.warn .bl{
	background: url(../images/warn.gif) no-repeat 0px -5px;
	width:5px;
	height:5px;
}
.warn .br{
	background: url(../images/warn.gif) no-repeat -5px -5px;
	width:5px;
	height:5px;
}
.warn .msCC{
	padding-left:20px;
	padding-right:15px;
	background:url(../images/warn_icon.gif) no-repeat 3px 2px;
}


.note{
	background-color:#DFF0FF;
}
.note .tl{
	background: url(../images/note.gif) no-repeat left top;
	width:5px;
	height:5px;
}
.note .tr{
	background: url(../images/note.gif) no-repeat -5px 0px;
	width:5px;
	height:5px;
}
.note .bl{
	background: url(../images/note.gif) no-repeat 0px -5px;
	width:5px;
	height:5px;
}
.note .br{
	background: url(../images/note.gif) no-repeat -5px -5px;
	width:5px;
	height:5px;
}
.note .msCC{
	padding-left:20px;
	padding-right:15px;
	background:url(../images/note_icon.gif) no-repeat 3px 2px;
}